---
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
DerivePointerBinding: false
PointerBindsToType: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: false
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ObjCBlockIndentWidth: 4
SpacesInContainerLiterals: false
NamespaceIndentation: All
