[submodule "submodules/cpp_utils"]
	path = submodules/cpp_utils
	url = https://github.com/objective-audio/cpp_utils.git
[submodule "submodules/chaining"]
	path = submodules/chaining
	url = https://github.com/objective-audio/chaining.git
[submodule "submodules/objc_utils"]
	path = submodules/objc_utils
	url = https://github.com/objective-audio/objc_utils.git
[submodule "submodules/observing"]
	path = submodules/observing
	url = git@github.com:objective-audio/observing.git
