[submodule "submodules/cpp_utils"]
	path = submodules/cpp_utils
	url = https://github.com/objective-audio/cpp_utils.git
[submodule "submodules/chaining"]
	path = submodules/chaining
	url = https://github.com/objective-audio/chaining.git
